<div class="supercopa">
  <h1>Editar Leyenda</h1>
  <form action="/mylegend/legend-edit/{{leyenda._id}}" method="post">
    <div>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" value="{{leyenda.nombre}}" />
    </div>
    <br />
    <div>
      <label for="temporadas">Temporadas</label>
      <input type="number" name="temporadas" value="{{leyenda.temporadas}}" />
    </div>
    <br />
    <div>
      <label for="titulos">Títulos</label>
      <input type="number" name="titulos" value="{{leyenda.titulos}}" />
    </div>
    <br />
    <div>
      <label for="Equipo">Equipo</label>
      <select class="form-select" name="Equipo">
        {{#each allTeams}}
         
            <option value="{{this._id}}">{{this.nombre}}</option>
         
        {{/each}}
      </select>
      <br />
    </div>
    <br />
    <button type="submit" class="btn btn-success">Guardar Cambios</button>
  </form>
</div>