<div class="supercopa">
  <h1>Detalles de la Leyenda</h1>
  <p>Nombre: {{leyenda.nombre}}</p>
  <p>Temporadas: {{leyenda.temporadas}}</p>
  <p>Títulos: {{leyenda.titulos}}</p>
  <p>Equipo: {{leyenda.Equipo.nombre}}</p>
  <p>Creador: {{leyenda.creator}}</p>

  <a href="/mylegend/legend-edit/{{leyenda._id}}"><button class="btn btn-success">Editar</button></a>
  
  {{#if isUserAdmin}}
  <form action="/mylegend/legend-delete/{{leyenda._id}}" method="post">
    
    <button type="submit" class="btn btn-warning">Eliminar</button>
   
  </form>
  {{/if}}
</div>